body {
    background-color: #121212;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

/* HEADER */
header {
    background-color: black;
    padding: 20px;
    text-align: center;
}

header h1 {
    color: #1DB954;
}

/* NAV */
nav a {
    color: white;
    text-decoration: none;
    margin: 15px;
    font-weight: bold;
}

nav a:hover {
    color: #1DB954;
}

/* MAIN */
main {
    padding: 30px;
}

/* CARDS */
article {
    background-color: #181818;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

article:hover {
    background-color: #282828;
}

/* BUTTON */
button {
    background-color: #1DB954;
    border: none;
    padding: 10px 20px;
    color: white;
    border-radius: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #1ed760;
}

/* FOOTER */
footer {
    background-color: black;
    text-align: center;
    padding: 15px;
    color: gray;
}
.imagen-centro {
    display: block;
    margin: 40px auto;
    width: 400px;
    border-radius: 12px;
    box-shadow: 0 0 20px rgba(30, 215, 96, 0.4);
}
.stars {

    font-size: 30px;
    cursor: pointer;
    margin-top: 5px;

}

.star {

    color: gray;
    transition: 0.2s;

}

.star.selected {

    color: #1DB954;

}

.star:hover {

    transform: scale(1.2);

}
.mensaje-playlist{

background:#1db954;
color:white;
padding:10px;
border-radius:8px;
margin-top:10px;
opacity:0;
transition:0.4s;

}

.mensaje-playlist.mostrar{

opacity:1;

}
article {
background-color: #181818;
padding: 15px;
margin: 15px 0;
border-radius: 12px;
}

article h3 {
color: #1DB954;
}

iframe {
display: block;
margin: 10px auto;
border-radius: 10px;
}